<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        CareerPilot AI
        {% endblock %}
    </title>


    <!-- Bootstrap -->

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet">


    <!-- Icons -->

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    rel="stylesheet">


    <!-- CSS -->

    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">

    <div class="container-fluid px-5">


        <a class="navbar-brand fw-bold fs-3" href="/">

            🚀 CareerPilot AI

        </a>


        <span class="navbar-text text-light">

            AI Career Assistant

        </span>


    </div>


</nav>



<main class="container-fluid px-5 py-5">


{% block content %}


{% endblock %}


</main>



<footer>

    <p>

        CareerPilot AI v2.0 • Built by Aswath Sreedhar ❤️

    </p>

</footer>



</body>


</html>